/* Screen */
div{
    margin-top: 20px;
    border: 2px solid black;
    width: 1480px;
    height: 750px;
    background-image: url(./star.jpg);
    background-position: center;
    background-size: cover;
}

/* Button */

#click{
margin-top: 650px;
margin-left: 1330px;
height: 70px;
font-size: 17px;
font-weight: bold;
width: 150px;
background: black;
color: white;
}